body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(236, 244, 251);
}

button {
  margin-bottom: 1px;
}

table.table {
  /* table-layout: auto; */
  overflow: hide;
  white-space: nowrap;
  --bs-table-bg: rgb(236, 244, 251);
  /* margin-top: 0.5rem; */
}

.description {
  max-width: 25vw;
  text-overflow: ellipsis;
  overflow: hidden;
}

.icon {
  width: 5vw;
}

.topNav {
  background-color: rgb(163, 204, 238);
  padding: 1rem;
  box-shadow: 0px 1px 1px #777;
  margin-bottom: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navigation {
  margin-top: 5%;
  margin-bottom: 5%;
}

#navigation a {
  margin-right: 10%;
}

#navigation a:last-child {
  margin-right: 0;
}

thead th {
  padding-right: 50px;
}

#print_component{
  text-align: center;
}