body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  margin-bottom: 1px;
}

table {
  /* table-layout: auto; */
  overflow: hide;
  white-space: nowrap;
}

.description {
  max-width: 25vw;
  text-overflow: ellipsis;
  overflow: hidden;
}

.icon {
  width: 5vw;
}